**/fid_logs/*
**/*.pt
**/logs/*
**/data/*
**/__pycache__/*
**/ckpts/*
**/ckpts_induction/*
**/ckpts_debug/*
**/debug/*
**/wandb/*
.venv/*


athenak
dino
build_mri2d

mesh_structure.dat

__pycache__
wandb

.DS_store
samples
results
pretrained_models


